*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
    padding :20px;
    display: flex;
    flex-direction:column;
    align-items: center;


}

label {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}

#first-no, #second-no, #answer,#clear {
    height: 30px;
    width: 200px;
    border: 2px solid #a09c9c;
    margin-top:10px;
    margin-left: 10px;
    /* padding: 5px; */
    font-size: 20px;
    margin-left: 70px;
    /* padding:5px; */
} 

h3 {
    text-align: center;
    padding: 5px;

} 
    

#button1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;;

}
#subtract, #add, #divide, #times 
{
    height: 30px;
    width: 50px;
    font-size: 20px;
    margin: 3px;
    /* padding-left: 20px; */


}
#form {

    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border: 2px solid #a09c9c;
    background-color:antiquewhite

}
#button1 {
    align-items: row;
}
#calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: */    border: 2px solid #000000;

}

#total {
    grid-column-start: 2;
    grid-column-end:5;
}

#calculator button{
    height: 40px;

}